.rec-div {
    border-radius: 1.3125rem;
    background: #FFF;
    width: 36rem;
    height: 38rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    display: flex;
}