.rec-div {
    overflow: auto;
    border-radius: 1.3125rem;
    background: #FFF;
    width: 36rem;
    height: 38rem;
}

.posi {
    display: block;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}


.resultado {
    display: grid;
    place-items: center;
    margin-top: 5%;
}

.izq {
    margin-left: 10rem
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.datapredic {
    width: 5rem;
}

.numcenter {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.grupoResul {
    margin-top: 8%
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: center;
}

th,
td {
    border: none;
    /* Oculta las líneas de la tabla */
}

td {
    width: 20%;
    /* Establece el ancho fijo para cada celda */
}

td {
    height: 1rem
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 8px;
    font-size: 14px;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}